/* Importing Poppins font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Universal selector for margin, padding, and box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    background: rgba(0, 0, 0, 0.897);
    font-family: 'Poppins', sans-serif;
    height: 130vh;
}

/* Background video styling */
#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    filter: blur();
    display: flex;
}

/* Video container styling */
.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

/* Responsive video adjustments */
@media (min-aspect-ratio: 16/9) {
    .background-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .background-video {
        width: auto;
        height: 100%;
    }
}

/* Container styling */
.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    background-size: cover;
    background-position: center;
}

/* Header styling */
header {
    width: 100%;
    height: 10vh;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo styling */
.logo {
    width: 300px;
    height: 10vh;
    background: rgba(0, 0, 0, 0.823);
    display: flex;
    align-items: center;
    color: #fff;
    clip-path: polygon(0 0, 100% 0, 64% 100%, 0% 100%);
    padding: 10px;
    line-height: 1.3rem;
}
.logo .fa-solid {
    font-size: 35px;
}
.logo p {
    width: 180px;
    margin-left: 5px;
    font-size: 28px;
}

/* Navbar styling */
ul.navbar {
    display: flex;
    list-style: none;
}
ul.navbar li {
    width: 180px;
}
ul.navbar li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
ul.navbar li a.active {
    color: rgb(255, 0, 0);
}
ul.navbar li a:hover:not(.active) {
    color: rgb(255, 0, 0);
}

/* Button styling */
#btn {
    width: 250px;
    height: 10vh;
    background: rgba(175, 13, 13, 0.823);
    color: #000;
    outline: none;
    border: none;
    clip-path: polygon(35% 0, 100% 0, 100% 100%, 0% 100%);
    font-size: 1.2rem;
    font-weight: bold;
    text-align: right;
    padding-right: 40px;
}
#btn .fas {
    margin-right: 10px;
}

/* Content wrapper styling */
.content-wrapper {
    width: 80%;
    min-height: 50vh;
    margin-left: 20vh;
    margin-top: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

/* Content description styling */
.content-desc h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}
.content-desc p {
    width: 550px;
    font-size: 1.3rem;
    line-height: 2rem;
    margin-bottom: 10px;
}
.content-desc span {
    color: rgb(255, 0, 0);
}

/* Secondary button styling */
#btn-2 {
    width: 350px;
    height: 10vh;
    padding-left: 20px;
    outline: none;
    border: none;
    background: rgb(175, 13, 13);
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 15px;
    clip-path: polygon(0 0, 74% 1%, 100% 100%, 0% 100%);
    border-radius: 20px;
    text-align: left;
}

/* CoD block styling */
.CoD {
    width: 400px;
    height: 400px;
    background: linear-gradient(rgba(38, 2, 39, 0.849),rgb(255, 0, 0));
    position: relative;
}
.CoD::after {
    content: '';
    width: 410px;
    height: 410px;
    background-image: url(../css/ghost1.png);
    background-size: cover;
    background-position: left;
    position: absolute;
    bottom: 0;
    left: -150px;
}

/* Footer styling */
footer {
    width: 100%;
    height: 35vh;
    background: #282828f2;
    display: flex;
    align-items: center;
    position: relative;
}
.footer-body {
    margin: 90px;
    display: flex;
    justify-content: space-around;
    margin-right: 30px;
}
.footer-logo {
    height: 12vh;
    background: rgba(56, 3, 58, 0.849);
    color: #ffffff;
    line-height: 1.7rem;
    clip-path: polygon(50% 0%, 100% 0, 72% 50%, 100% 100%, 0 100%, 0% 60%, 0 0);
}
.footer-logo i {
    margin-right: 5px;
}
footer ul h3 {
    color: #fff;
    font-weight: 450;
}
footer ul {
    list-style: none;
    line-height: 2.5rem;
    margin-left: 200px;
}
ul li a .fab {
    font-size: 1.2rem;
    color: rgba(56, 3, 58, 0.849);
    margin-right: 15px;
}
ul li a {
    text-decoration: none;
    color: #fff;
}
ul li a:hover {
    color: rgb(175, 13, 13);
}

/* Footer bottom styling */
.footer-bottom {
    width: 100%;
    height: 7vh;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
}
.footer-bottom span {
    color: rgb(175, 13, 13);
    font-weight: bold;
}
